body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-AKUGjohqcQfvpClM1xEmxnSlTERpi8FGnQ&usqp=CAU);
}

h1 {
    color: blue;
    text-align: center;
}

.btn {
    background-color: green;
    position: bottom;
}

#search{
    background-color: white;
    position: top-right;
}

#cars-container {
    font-weight: bold;
    font-size: larger;
     color: black;
     background-blend-mode: hard-light;
}
