body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-AKUGjohqcQfvpClM1xEmxnSlTERpi8FGnQ&usqp=CAU);
}

header {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn {
    background-color: green;
}

#search{
    background-color: white;
    position: top-right;
}

.list-group {
    font-weight: bold;
    font-size: larger;
     color: blue;
}
